.header
{ 
  color: white ;
  font-family: 'Fjalla One', sans-serif;
  font-size:2rem;
  margin-top:1rem;
  margin-bottom: 0;
}
.paragraph{ 
  color: white ;
  font-family: 'Fjalla One', sans-serif;
  font-size:1rem;
  margin-top:0;
}

@media screen and (min-width: 768px){
  .header{
    font-size:3rem ;
  }
  .paragraph{
    font-size:1.5rem;
  }
}
